# SQL Server (Docker)
MSSQL_SA_PASSWORD=SenhaForte@123          # senha do SA — mínimo 8 chars, maiúscula, minúscula, número e símbolo
SQL_SERVER_CONN=mssql+pyodbc://sa:SenhaForte@123@localhost/HML-DBFLOWETL01?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes

# Telegram
TELEGRAM_TOKEN=seu_token_aqui
TELEGRAM_CHAT_ID=seu_chat_id_aqui

# Email
EMAIL_USER=bot@empresa.com
EMAIL_PASS=senha_app_aqui
EMAIL_DESTINATARIO=gerente@empresa.com
EMAIL_SMTP=smtp.gmail.com
EMAIL_PORTA=587

# Metabase (docker-compose)
MB_DB_PASS=senha_segura_postgres_aqui
MB_SITE_URL=http://ip-da-vm:3001
